{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	<title>Register Form - Pure Coding</title>
</head>
<body>
	<div class="container">
		<form action="" method="POST" class="login-email">
            {% csrf_token %}
            <p class="login-text" style="font-size: 2rem; font-weight: 800;">Register</p>
			<div class="input-group">
				{{form.username}}
			</div>
			<div class="input-group">
				{{form.email}}
			</div>
			<div class="input-group">
                {{form.password1}}
            </div>
            <div class="input-group">
				{{form.password2}}
			</div>
			<div class="input-group">
				<button name="submit" class="btn">Register</button>
			</div>

		</form>
	    {{form.errors}}
    </div>

</body>
</html>